<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            <label for="busqueda">Buscador de artistas</label>
            <input #busqueda (keypress)="buscarArtista(busqueda)" type="text" class="form-control" placeholder="Buscar por artista...">
        </div>
    </div>
</div>

<!-- Componete de carga de contenido -->
<app-loading *ngIf="loading"></app-loading>

<!-- Componente reutilizable -->
<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>