<app-loading class="m-5" *ngIf="loading"></app-loading>

<div class="row animated fadeIn slow" *ngIf="!loading">
    <div class="col-2 mt-5">
        <img [src]="artista.images | noimage" [title]="artista.name" class="img-thumbnail img-circle">
    </div>
    <div class="col mt-5">
        {{artista.name}}
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank"> Ir a la pagina del artista </a>
        </p>
    </div>
    <div class="col-4 mt-5 text-right">
        <button id="btnvolver" (click)="btnVolver()" class="btn btn-outline-success w-50"> <strong> Volver </strong> </button>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <table class="table">
            <thead class="text-white text-center">
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista previa</th>
                </tr>
            </thead>
            <tbody class="text-white text-center">
                <tr *ngFor="let track of topTracks">
                    <td class="align-middle"><img [src]="track.album.images | noimage" [title]="track.album.name" class="img-thumb"></td>
                    <td class="align-middle">{{ track.album.name }}</td>
                    <td class="align-middle">{{ track.name }}</td>
                    <td>
                        <iframe [src]="track.uri | domseguro:' https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>